.card {
  width: 323px;
  height: 326px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: white;
  text-align: center;
  width: max-content;
  padding: 2px 12px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

.card__image {
  width: 100%;
  border-radius: 8%;
  height: 100%;
  object-fit: cover;
}

.card__like-button {
  background: transparent;
  border: 1px solid black;
  cursor: pointer;
  padding: 8px 16px;
  margin-top: 8px;
  transition: background-color 0.3s ease;
}

.card__like-button_active {
  background: black;
  color: white;
}
